/* styles.css contains global styles */

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Dosis', sans-serif;
}

h1,
h2,
h3 {
    word-spacing: 6px;
    letter-spacing: 1px;
}

/* underline on hover */
.nav-link {
    position: relative;
    cursor: pointer;

    text-decoration: none;
    color: inherit;
}

.nav-link::after {
    content: '';

    background-color: orange;
    width: 100%;
    height: 2px;

    position: absolute;
    left: 0;
    bottom: -3px;

    transition: transform 0.3s ease-in-out;
    transform: scaleX(0);
    transform-origin: right center;
}

.nav-link:hover::after {
    transform: scaleX(1);
    transform-origin: left center;
    transition-duration: 0.4s;
}