.filter {
    text-align: center;
}

.filter-btn {
    padding: 0.5rem 1rem;
    margin-block-start: 1rem;
    margin-block-end: 2rem;
    cursor: pointer;
    background: transparent;
    border: 1px solid orange;
    border-radius: 4px;
    color: orange;
    box-shadow: 0px 1px 4px rgba(255, 165, 0, 0.3);

    transition: all 0.2s ease-out;
}

.filter-btn:hover{
    background-color: orange;
    color: white;
}