.about {
    height: 50vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

    margin-top: 12rem;
}

.description {
    flex-basis: 70%;
    padding-left: 5rem;
}

.description>h3 {
    font-size: 3rem;
    margin: 1rem 0;
}

.description>h3:nth-child(1),
.description>h3:nth-child(2),
.description>p {
    color: #545454;
}

.description>p {
    font-size: 1.25rem;
    margin-top: 0.5rem;
}

.orange {
    color: orange;
    text-shadow: 0px 1px 1px #999;
}

.orange-bg {
    background-color: orange;
    color: #fff;

    border-radius: 8px;
    padding: 0.5rem;

    display: inline-block;
    white-space: nowrap;

    text-shadow: 0px 1px 1px #4d4d4d;
}