/* #res menu container# */

.res-menu-container {
    margin-top: 8rem;
}

/* #res menu content# */

.res-summary {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;

    background-color: #171717;
    color: #fff;
    padding: 1rem;
}

.res-img {
    width: 220px;
    border-radius: 6px;
}

.area-name,
.cuisines-name {
    color: #999;
}

.area-name {
    margin: 0.6rem 0;
}

.cuisines-name {
    margin-bottom: 1rem;
}

.rating-distance-price {
    display: flex;
    gap: 2rem;
}

.rating-distance-price>h4 {
    padding-right: 2rem;
    border-right: 2px solid #fff;
}

.rating-distance-price>h4:last-child {
    border: none;
}

/* #res menu content# */
.res-menu-content {
    max-width: 800px;
    margin: 3rem auto;
}

.total-items {
    color: #3e4152;
    font-weight: 300;
    font-size: 1.25rem;
    margin-top: 0.5rem;
}

.menu-items-list {
    display: flex;
    gap: 3rem;
    justify-content: space-between;
    align-items: center;

    padding-bottom: 2rem;
    border-bottom: 1px solid #999;
}

.menu-items-list-description {
    flex-basis: 70%;
}

.item-name {
    color: #545454;
}

.item-price {
    margin: 0.7rem 0;
    color: #3e4152;
}

.item-description {
    color: #666;
}

.menu-items-list-img-btn {
    flex-basis: 15%;

    position: relative;
}

.menu-item-list-img {
    width: 100%;
    border-radius: 8px;
}

.item-add-btn {
    position: absolute;

    left: 50%;
    transform: translate(-50%, -50%);
    bottom: -24px;

    padding: 0.5rem 1.25rem;

    background-color: #fff;
    color: #60b246;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);

    text-transform: uppercase;
    cursor: pointer;
}

.item-add-btn:hover {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.6);
}